body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #101820FF url('imagens/fundohome3.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logo{
    height: 120px;
    width: 120px;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
    margin-bottom: 10px;
}



.post {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.post h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.post p {
    margin-bottom: 10px;
    display: block;
}

.post span {
    font-weight: bold;
    text-align: left;
    display: inline-block;
}


.no-posts {
    text-align: center;
    font-style: italic;
}
.container .botaoS {
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px 15px;
}

.container .botaoS:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    cursor: pointer;
}
.container label {
	background: rgba(235, 171, 87, 0.527);
	color: #fff;
	border: 0px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px 15px;
}

.container label:hover {
	background: #F2AA4CFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
    cursor: pointer;
}
input[type='file'] {
    display: none
  }




#header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #101820FF;
    color: #F2AA4CFF;
    padding: 5px;
}

#header-title {
    color: #F2AA4CFF;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 5px;
}

#logout-btn {
    color: #F2AA4CFF;
    text-decoration: none;
}

#navbar {
    background-color: #101820FF;
    padding: 10px;
    text-align: center;
}

#navbar a {
    color: #F2AA4CFF;
    text-decoration: none;
    margin: 0 10px;
}

#navbar a:hover {
    text-decoration: underline;
}

#username {
    font-size: 18px;
    font-weight: bold;
    color: #F2AA4CFF;
    cursor: pointer;
    text-decoration: none;
}

h3 {
    color: #F2AA4CFF;
    font-family: "Source Serif Pro";
    font-style: italic;
    text-align: center;
    font-size: 32px;
}
 
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
#loading-overlay.visible {
    display: flex;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
